@model CarDealerManager.Models.Store

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <main role="main" class="pb-3">
        <h1>Edit</h1>
        <h4>Store</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="DateOfPurchase" class="control-label"></label>
                        <input asp-for="DateOfPurchase" class="form-control" />
                        <span asp-validation-for="DateOfPurchase" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="WarrantyDuration" class="control-label"></label>
                        <input asp-for="WarrantyDuration" class="form-control" />
                        <span asp-validation-for="WarrantyDuration" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CarFK" class="control-label"></label>
                        <select asp-for="CarFK" class="form-control" asp-items="ViewBag.CarFK"></select>
                        <span asp-validation-for="CarFK" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CustomerFK" class="control-label"></label>
                        <select asp-for="CustomerFK" class="form-control" asp-items="ViewBag.CustomerFK"></select>
                        <span asp-validation-for="CustomerFK" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </main>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
